---
title: Casaba Estates
---

<!-- Hero Slideshow -->

<div class="sect-banner">
	<ul class="hero-slideshow">
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<div class="title-vert">
		<h1><span>Casaba Estates</span></h1>
		<%= image_tag 'dingbat.svg', class: "dingbat" %>
		<h3>A new Rolling Hills Estates community</h3>
	</div>
</div>

<!-- About -->

<div class="side-image">
  <!-- <div class="images-wrapper"></div> -->
    <div class="side-image-content">
      <h4>Welcome</h4>
      <h1>Casaba Estates</h1>
      <p>Discover a new community coming soon to the beautiful city of Rolling Hills Estates. Emerald at Casaba Estates, by Emerald Homes, will offer 5 new semi-custom luxury single-family homes. These homes will feature expansive floor plans with up to approximately 4,836 square feet, up to 5 bedrooms, and up to 4.5 baths. Adjacent to both Rolling Hills Country Club, and Jack Kramer tennis club. Pre-sale opportunities available now.</p>

     <!-- Details -->

  	<ul class="bullets">
		  <li class="bullet">
		    <div class="bullet-icon bullet-icon-1 shadow">		    
		      <%= image_tag 'exterior.svg' %>
		    </div>
		    <div class="bullet-content">
		      <h2>Crafted Exteriors</h2>
		      <p>Spanish Colonial, Spanish Revival and Monterey architectural styles, Three-coat fine-sand-finish stucco, Large two-car garage, Garage door with opener and transmitters, Inviting 8’ front entry door with SmartKey® Kwikset® deadbolt handleset, Seamless 6” half-round roof gutters, Solar-reflective concrete Eagle® tile roofing with an SRI value greater than 15 (not shown on model).</p>
		      </div>
		  </li>  
		  <li class="bullet">
		    <div class="bullet-icon bullet-icon-4 shadow">
		      <%= image_tag 'interior.svg' %>
		    </div>
		    <div class="bullet-content">
		      <h2>Impressive Interiors</h2>
		      <p>Designer-selected Daltile® ceramic tile in entry, kitchen, baths and laundry room, Sustainable Mohawk® carpeting with advanced soil and stain protection in living spaces and bedrooms, Appealing recessed can lighting at kitchen, hallways, dining room, parlor, great room, laundry room, closets and bathrooms, with dimmer switch at select locations, Chic rocker-style light switches lend modern flair, Maple raised-panel cabinetry throughout dressed with espresso, spice or cognac stain and brushed nickel bar pulls.</p>
		    </div>
		  </li>
		  <li class="bullet">
		    <div class="bullet-icon bullet-icon-2 shadow">
		      <%= image_tag 'bed.svg' %>
		    </div>
		    <div class="bullet-content">
		      <h2>Master Suites</h2>
		      <p>Enticing acrylic tub or Kohler® Sunstruck® freestanding tub, per plan, Classic tan e-stone countertops embody elegance, Sophisticated Moen® chrome fixtures, Beautiful vanity with undermount square sinks, Grand 42” framed mirror with beveled edge over vanity, Moen® towel bars in chrome finish, 36” frameless mirrored medicine cabinets.</p>
		    </div>
		  </li>		   
		  <li class="bullet">
		    <div class="bullet-icon bullet-icon-3 shadow">
		     <%= image_tag 'dinner.svg' %>
		    </div>
		    <div class="bullet-content">
		      <h2>Gourmet Kitchens</h2>
		      <p>Professional series GE Monogram® stainless steel appliances: - 48” six-burner gas range with griddle - 48” hood - 30” electric wall oven - Built-in microwave - Energy-efficient dishwasher, Striking granite slab kitchen countertops with full-height white 3”x6” subway tile Daltile® backsplash, Full-overlay raised-panel maple cabinetry with brushed nickel hardware, Kohler® cast iron two-compartment undermount sink and Moen® pullout faucet, Convenient, appealing and illuminating under-cabinet lighting, Insinkerator® garbage disposal, Pre-plumbed for ice maker.</p>
		    </div>
		  </li> 
		</ul>
  </div>
</div>

<!-- Home Models/Unslider -->

<div class="my-slider">
  <ul>
    <li>
    <div><%= image_tag 'CASABA_1.jpg', class: 'prop-img' %></div>
    <div class="model-info model-info-container">
    	<h1>Model 1</h1>
		  <div class="grid-items-lines">
			  <a href="javascript:void(0)" class="grid-item">
			    <h1>4 Bedrooms</h1>
			    <p>Fully featured master suite. Walk-in closets in most bedrooms.</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item">		
			    <h1>4 1/2 Bathrooms</h1>
			    <p>4 full bathrooms & powder room.</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item">
			    <h1>4,112 Square Feet</h1>
			    <p>Includes Great room, formal dining upstairs & Game Room and Theater downstairs.</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item grid-item-big">
			    <h1>$2,775,000</h1>
			    <p>List price.</p>
			  </a>
				<a href="javascript:void(0)" class="grid-item grid-item-big">
			    <h1>Address</h1>
			    <p>11 Casaba Ln. Rolling Hills Estates</p>
			  </a>
			  <div class="right-cover"></div>
			  <div class="bottom-cover"></div>
			</div>
		</div>
    </li>
    <li>
    <div><%= image_tag 'CASABA_2.jpg', class: 'prop-img' %></div>
        <div class="model-info model-info-container">
    	<h1>Model 2</h1>
		  <div class="grid-items-lines">
			  <a href="javascript:void(0)" class="grid-item">
			    <h1>4 Bedrooms</h1>
			    <p>Fully featured master suite. Walk-in closets in most bedrooms.</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item">		
			    <h1>4 1/2 Bathrooms</h1>
			    <p>4 full bathrooms & powder room</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item">
			    <h1>4,112 Square Feet</h1>
			    <p>Includes Great room, formal dining upstairs & Game Room and Theater downstairs.</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item grid-item-big">
			    <h1>$2,625,000</h1>
			    <p>List price.</p>
			  </a>
				<a href="javascript:void(0)" class="grid-item grid-item-big">
			    <h1>Address</h1>
			    <p>10 Casaba Ln. Rolling HIlls Estates</p>
			  </a>
			  <div class="right-cover"></div>
			  <div class="bottom-cover"></div>
			</div>
		</div>
    </li>
    <li><%= image_tag 'CASABA_3.jpg', class: 'prop-img' %>
    	    <div class="model-info model-info-container">
    	<h1>Model 3</h1>
		  <div class="grid-items-lines">
			  <a href="javascript:void(0)" class="grid-item">
			    <h1>5 Bedrooms</h1>
			    <p>Fully featured master suite. Walk-in closets in most bedrooms.</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item">		
			    <h1>4 1Bathrooms + 2 Powrder</h1>
			    <p>4 full bathrooms & 2 powder rooms</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item">
			    <h1>4,112 Square Feet</h1>
			    <p>Game Room, Theater. California Room. Optional guest suite with private entrance.</p>
			  </a>
			  <a href="javascript:void(0)" class="grid-item grid-item-big">
			    <h1>$2,745,000 $2,805,000 $2,875,000</h1>
			    <p>List prices.</p>
			  </a>
				<a href="javascript:void(0)" class="grid-item grid-item-big">
			    <h1>Adresses</h1>
			    <p>9 Casaba Ln. 7 Casaba Ln. & 5 Casaba Ln. Rolling HIlls Estates</p>
			  </a>
			  <div class="right-cover"></div>
			  <div class="bottom-cover"></div>
			</div>
		</div>
    </li>
  </ul>
</div>

<!-- Map -->

<div id="map_canvas"></div>

<!-- Offered by -->

<div class="side-image">
  <!-- <div class="images-wrapper"></div> -->
    <div class="side-image-content">
      <h4>Offered by</h4>
      <h1>Douglas Maupin & Maupin Realtors</h1>
      <p>Douglas Maupin & Maupin Realtors have been a leader in South Bay real estate for over 30 years. It his pleasure to offer you these extraordinary new homes. Now available for pre-sale.</p>
		  	<h2>
		  	<div>
		  		<i class="fa fa-phone-square contact-icon shadow"></i>
		  		<a href="tel://1-310-530-8457"> 310.293.4683</a>
		  	</div>
		  	<br>
		  	<div>
					<i class="fa fa-envelope contact-icon shadow"></i>
					<a href="mailto:dmaupin@maupinrealtors.com"> dmaupin@maupinrealtors.com</a>
				</div>
				</h2>
  </div>
</div>

<!-- Email List -->

<div class="mailing">
	<h1>Join the Casaba Estates interest list</h1>
	<p>Subscribe to receive up to date news & updates regarding Casaba Estates</p>
	<div class="mailform">
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="//davidmaupin.us9.list-manage.com/subscribe/post?u=2b51bf18a6feb69e9e41ebc4e&amp;id=401d5c7b3d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
		<div class="mc-field-group">
			<!-- <label for="mce-EMAIL">Email Address </label> -->
			<input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b51bf18a6feb69e9e41ebc4e_401d5c7b3d" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button shadow"></div>
		    </div>
		</form>
		</div>
		<!--End mc_embed_signup-->
	</div>
</div>

<!-- Footer -->

<footer class="footer" role="contentinfo">
  <div class="footer-logo"><%= image_tag 'mr.svg' %></div>
  <div class="footer-links">
 	 <p>©2016 Maupin Realtors.com<br>23505 Crenshaw Blvd. Suite 208<br>Torrance, Ca. 90505</p>
  </div>

  <hr>

  <p>All information, pricing, features, terms, and amenities, are subject to change and prior sale at any time without notice or obligation. Drawings, pictures, photographs, video, square footages, floor plans, elevations, features, colors and sizes are approximate for illustration purposes only and will vary from the homes as built.</p>
  <div class="dingbat"><%= image_tag 'equal.png' %></div>
</footer>
